@page
@model GameContentModel
@{
    ViewData["Title"] = "Game";
}

<img class="contentGameBackground" src="@Model.GameBackgroundImage" alt="BackgroundImage" />
<video class="contentGameBackground" autoplay muted loop><source src="D:\Project\Forge\Forge\Resources\play.mp4" type="video/mp4" /></video>

<section class="gameContent">
    <div class="gameContentImage">
        <img class="contentGameCover" src="@Model.GameCoverImage" alt="CoverImage"/>
    </div>
    <div class="gameContentText">
        <p class="contentGameTitle">@Model.GameTitle</p>
        <p class="contentGameDescription">@Model.GameDescription</p>
        <button class="contentGameButton">@Model.GamePrice</button>
    </div>
</section>
